<div class="container">
    <img src="../../../../assets/star-wars.png" width="300px"><br /><br />
    <p class="start-title">Welcome to the Star Wars Quiz Challenge</p>
    <p class="start-text">In this challenge, you will have 2 minutes to awnser the max characters you know about the Star Wars Saga</p>
    <p class="start-text">At the end will shown a form for you register your score in the ranking.</p>
    <p class="start-text">Just click in start button and good luck.</p>
    <p class="start-text">May the force by with you.</p>
    <button (click)="startGame()" class="btn btn-default btn-start">START GAME</button>
</div>