

<div class="row">
  <div 
    *ngFor="let person of firstRow,let i = index" class="card col" style="width: 18rem;">
    
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      {{person.name}}
      <input type="text" class="form-control">
    </div>
  </div>
</div>
<br />
<div class="row">
  <div *ngFor="let person of secondRow" class="card col" style="width: 18rem;">
      {{person.name}}
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <input type="text" class="form-control">
    </div>
  </div>
</div>
