<div class="row">
  <app-timer></app-timer>
</div>
<div class="row">
  <div 
    *ngFor="let person of firstRow" class="card col" style="width: 18rem;"
    [ngClass]="{'correct':(person.name | uppercase) === (person.resp | uppercase)}">
    <img class="card-img-top" src="{{person.pic}}" alt="Card image cap">
    <div class="card-body">
      <input [disabled]="(person.name | uppercase) === (person.resp | uppercase)" type="text" class="form-control" [(ngModel)]="person.resp">
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let person of secondRow" class="card col" style="width: 18rem;"
  >
    <img class="card-img-top" src="{{person.pic}}" alt="Card image cap">
    <div class="card-body">
      <input [disabled]="(person.name | uppercase) === (person.resp | uppercase)" 
      type="text" class="form-control" [(ngModel)]="person.resp">
    </div>
  </div>
</div>
<div style="text-align:center">
  <button *ngIf="previous != null " (click)="changePage(previous)" class="btn btn-start">PREVIOUS</button>
  <button *ngIf="next != null " (click)="changePage(next)" class="btn btn-start">NEXT</button>
</div>