/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
$fa-font-path:"../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

body{
    background-image: url("assets/sky.png");
}

@font-face{
    font-family: "star-wars";
    src:url( "assets/fonts/deathstar.otf" );
}

.card{
    background-color: rgba(10,23,55,0);    
}

.btn-start{
    border:3px solid #fadb2d;
    width:250px;
    padding-top:15ṕx;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color: rgba(10,23,55,0);
    color:#fadb2d;
    font-family: "star-wars";
    text-align:center;
}

.start-text{
    color:white;
    font-family:'star-wars';
}

.start-title{
    color:#fadb2d;
    font-family:'star-wars';
    font-size:16pt;
}

.btn-start:hover{
    color:#000;
    background-color:#fadb2d;
}

.container{
    text-align:center;
    margin-top:200px;
}

.correct{
    background-color:#ADFF2F;
}

.card-img-top{
    width:200px;
    height:200px;
    margin:0 auto;
}

.timer{
    color:#fadb2d;
    font-family: "star-wars";
    float:right;
    font-size: 20pt;
    margin-left: 1300px;
}

.btn-info{
    background-color:#fadb2d;
    color:black;
    border:none;
    border:1px solid black;
}

.btn-info:hover{
    color:#fadb2d;
    border:1px solid #fadb2d;
    background-color:#000;
}

.btn-check{
    background-color:#fadb2d;
    color:black;
    border:1px solid black;
}

.btn-check:hover{
    color:#fadb2d;
    border:1px solid #fadb2d;
    background-color:#000;
}

.btn-check:disabled{
    background-color:#fadb2d;
    color:black;
    border:1px solid black;
}

.btn-change-page{
    border:1px solid black;
    padding-top:15ṕx;
    padding-bottom:5px;
    padding-left:25px;
    padding-right:25px;
    background-color: #fadb2d;
    color:#000;
    font-family: "star-wars";
    text-align:center;
}

.btn-change-page:hover{
    background-color:#000;
    color:#fadb2d;
    border-color:#fadb2d;
}

.info-pic{
    width:70px;
    height:70px;
    border-radius: 50%;
}
