/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

body{
    background-image: url("assets/sky.png");
}

@font-face{
    font-family: "star-wars";
    src:url( "assets/fonts/deathstar.otf" );
}

.card{
    background-color:#000;
    background-color: rgba(10,23,55,0);    
}

.btn-start{
    border:3px solid #fadb2d;
    padding-top:15ṕx;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color:black;
    color:#fadb2d;
    font-family: "star-wars";
    text-align:center;
}

.btn-start:hover{
    color:#000;
    background-color:#fadb2d;
}

.container{
    text-align:center;
    margin-top:200px;
}

.correct{
    background-color:#ADFF2F;
}

.card-img-top{
    width:200px;
    height:200px;
    margin:0 auto;
}

.timer{
    color:#fadb2d;
    font-family: "star-wars";
    float:right;
    font-size: 20pt;
    margin-left: 1300px;
}