/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

body{
    background-color:#000;
}

@font-face{
    font-family: "star-wars";
    src:url( "assets/fonts/deathstar.otf" );
}

.card{
    border-color:white;
    background-color:#000;
}

.btn-start{
    border-color: yellow;
    padding-top:15ṕx;
    padding-bottom:15px;
    padding-left:25px;
    padding-right:25px;
    background-color:black;
    color:yellow;
    font-family: "star-wars";
    text-align:center;
}

.btn-start:hover{
    color:#000;
    background-color:yellow;
}

.container{
    text-align:center;
    margin-top:200px;
}

.correct{
    background-color:green;
}

.card-img-top{
    width:200px;
    height:200px;
    margin:0 auto;
}